<div class="left-side">
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn logout-btn' %>
  <button class="btn" id="toggle-dark-mode">Change theme</button>
  <button class="btn" data-bs-toggle="modal" data-bs-target="#newBookmarkModal">+</button>
  <button class="btn" data-bs-toggle="modal" data-bs-target="#newLabelModal">Add Label</button>

  <h2 class="label-title">All Labels</h2>
  
  <div class="labels">
  <% @labels.each do |label| %>
    <div class="label-btn">
      <%= link_to label.name, label_path(label), class: "label-item" %>
    </div>
  <% end %>
</div>

</div>

<h1 class="title">All Bookmarks</h1>

<div class="form">
  <% if @bookmarks.any? %>
    <div class="bookmarks-group">
      <% @bookmarks.each do |bookmark| %>
        <% if current_user.id == bookmark.user_id %>
          <div class="bookmark">
            <%= link_to bookmark.url_link do %>
              <%= image_tag bookmark.screenshot , alt: "Screenshot of #{bookmark.title}", class: "bookmark-image" %>
            <% end %>
            <div class="link-text">
              <p><%= bookmark.title %></p>
              <% if bookmark.description.present? %>
                <p class="bookmark-description"><%= bookmark.description %></p>
                <% else %>
                <br>
              <% end %>
            </div>
            <div class="edit-button">
              <%= link_to 'Edit', "#", class: "bookmark-btn", data: { bs_toggle: "modal", bs_target: "#editBookmarkModal#{bookmark.id}" } %>
              <%= button_to "Delete", bookmark_path(bookmark), method: :delete, class: 'btn-delete' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h1 class="no-bookmark-massage">You do not have any bookmark, <a href="#" data-bs-toggle="modal" data-bs-target="#newBookmarkModal">Create it!</a></h1>  <% end %>
</div>

<div class="modal fade" id="newBookmarkModal" tabindex="-1" aria-labelledby="newBookmarkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newBookmarkModalLabel">New Bookmark</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @bookmark, local: true do |form| %>
          <div class="form-group">
            <%= form.label :title, 'Title' %>
            <%= form.text_field :title, class: 'form-input' %>
          </div>

          <div class="form-group">
            <%= form.label :description, 'Description' %>
            <%= form.text_area :description, class: 'form-input' %>
          </div>

          <div class="form-group">
            <%= form.label :url_link, 'Url' %>
            <%= form.text_field :url_link, class: 'form-input' %>
          </div>

          <div class="form-group">
            <%= form.label :label_id, "Select Label" %>
            <%= form.select :label_id, options_from_collection_for_select(@labels, :id, :name, @bookmark&.label_id.to_i), {}, { class: "form-input" } %>
          </div>
          
          <div class="form-group">
            <%= form.submit 'Create', class: 'btn-form' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @bookmarks.each do |bookmark| %>
  <div class="modal fade" id="editBookmarkModal<%= bookmark.id %>" tabindex="-1" aria-labelledby="editBookmarkModalLabel<%= bookmark.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editBookmarkModalLabel<%= bookmark.id %>">Edit Bookmark</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with model: bookmark, url: bookmark_path(bookmark), method: :patch, local: true do |form| %>
            <div class="form-group">
              <%= form.label :title, 'Title' %>
              <%= form.text_field :title, class: 'form-input' %>
            </div>

            <div class="form-group">
              <%= form.label :description, 'Description' %>
              <%= form.text_area :description, class: 'form-input' %>
            </div>

            <div class="form-group">
              <%= form.label :label_id, "Select Label" %>
              <%= form.select :label_id, options_from_collection_for_select(@labels, :id, :name, bookmark.label_id.to_i), {}, { class: "form-input" } %>
            </div>

            <div class="form-group">
              <%= form.label :url_link, 'Url' %>
              <%= form.text_field :url_link, class: 'form-input' %>
            </div>

            <div class="form-group">
              <%= form.submit 'Save Changes', class: 'btn-form' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%# Label modals %>

<div class="modal fade" id="newLabelModal" tabindex="-1" aria-labelledby="newLabelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newLabelModalLabel">New Label</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @label, url: labels_path, local: true do |form| %>
          <div class="form-group">
            <%= form.label :name, 'Label Name' %>
            <%= form.text_field :name, class: 'form-input' %>
          </div>

          <div class="form-group">
            <%= form.hidden_field :user_id, value: current_user.id %>
          </div>

          <div class="form-group">
            <%= form.submit 'Create Label', class: 'btn-form' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @labels.each do |label| %>
  <div class="modal fade" id="editLabelModal<%= label.id %>" tabindex="-1" aria-labelledby="editLabelModalLabel<%= label.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editLabelModalLabel<%= label.id %>">Edit Label</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with model: label, url: label_path(label), method: :patch, local: true do |form| %>
            <div class="form-group">
              <%= form.label :name, 'Label Name' %>
              <%= form.text_field :name, class: 'form-input' %>
            </div>

            <div class="form-group">
              <%= form.submit 'Save Changes', class: 'btn-form' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

