<div class="left-side">
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn' %>
  <button class="dark-mode-btn" id="toggle-dark-mode">Переключить тему</button>
  <%= link_to '+', new_bookmark_path, class: 'new-btn' %>

</div>

<h1 class="title">All Bookmarks</h1>

<div class="form">
  <% if @bookmarks.any? %>
    <div class="bookmarks-group">
      <% @bookmarks.each do |bookmark| %>
        <% if current_user.id == bookmark.user_id %>
          <div class="bookmark">
            <%= link_to bookmark.url_link do %>
              <%= image_tag bookmark.screenshot , alt: "Screenshot of #{bookmark.title}", class: "bookmark-image" %>
            <% end %>
            <div class="link-text">
              <p><%= bookmark.title %></p>
              <% if bookmark.description.present? %>
                <p class="bookmark-description"><%= bookmark.description %></p>
                <% else %>
                <br>
              <% end %>
            </div>
            <div class="edit-button">
              <%= link_to 'Edit', edit_bookmark_path(bookmark), class: "bookmark-btn" %>
              <%= button_to "Delete", bookmark_path(bookmark), method: :delete, class: 'btn-delete' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h1>You do not have any bookmark, <%= link_to "Create it!", new_bookmark_path %></h1>
  <% end %>
</div>
