<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-box">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "field" %>
  </div>

  <div class="field-box">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field-box">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-font' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn' %><br />
  </div>
<% end %>
 

